@import "tailwindcss";

@theme {
  --color-main: rgba(0,0,0,1);
  --color-faded: rgba(211, 228, 255, 0.749);
  --color-accent: rgba(138, 180, 248, 1);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}